*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
body{
  height: 200vh;
  background-color: #f8f8f8;
  font-family: Open Sans;
}

main{
  height: 180vh;
  width: 100vw;
  background-color: #f8f8f8;
  font-family: Open Sans;
}

/*  INITIAL SCALE OF 1440PX */

/* Header */

.header {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  background-color: white;
  color: rgb(224, 126, 27);
  padding: 10px 20px;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 120px;
  
  transition: height 0.3s ease-in-out;

}

.first-row {
  grid-column: 1 / -1;
  text-align: center;
  font-size: .5em;
  color: #333;
  opacity: 50%;
  height: 5px;
}

.second-row {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-left: 30px;
}
.logo img {
  height: 30px;
  width: 40px;
  border-radius: 5px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.search-bar input {
  flex-grow: 1;
  padding: 10px 20px;
  font-size: .8em;
  border-radius: 5px;
  border: 1px #f8f8f8 solid;
  background-color: #f8f8f8;
}
.search-bar button {
  padding: 5px 10px;
  font-size: .8em;
  cursor: pointer;
  border: 1px rgb(224, 126, 27) solid;
  border-radius: 10%;
  width: 40px;
  height: 35px;
  background-color: rgb(224, 126, 27);
  color: white;
}

.user-menu {
  display: flex;
  align-items: center;
  justify-content: center ;
  gap: 10px;
}

.user-menu .notification {
  padding: 5px 10px;
  font-size: .8em;
  cursor: pointer;
  border: 1px white solid;
  width: 40px;
  height: 35px;
  background-color: rgb(224, 126, 27);
  color: white;
  margin-right: 30px;
  border-radius: 10%;
}

.user-menu .bell-icon {
  font-size: 1.5em;
}

.user-menu .profile-pic {
  height: 40px;
  border-radius: 50%;
  display: flex;
  
}

.nav-row {
  grid-column: 1 / -1;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li{
  transition: opacity 0.3s;
}
nav ul li:hover{
  opacity: 0.5;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: .8em;
  background-color: rgb(224, 126, 27);
  border: 0 rgb(224, 126, 27) solid ;
  border-radius: 10px;
  padding: 5px 10px;
}

.nav a :hover {
  opacity: 0.5;
}

/* side bar */

.sidebar {
  background-color: white;
  color:rgb(224, 126, 27);
  padding: 10px;
  margin: 10 10px;
  border-radius: 10px;
  position: fixed;
  z-index: 90;
  top: 135px;
  width: 180px;
  height: 55%;
  overflow-y: auto;
  font-size: 15px;
  transition: transform 0.3s ease-in-out;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s;
}

.sidebar ul li i {
  margin-right: 10px;
  font-size: 1em;
}

.sidebar ul li:hover {
  opacity: 0.5;
}

/* content */

#content{
  display: grid;
  grid-template-rows: 80px 1fr;
  background-color: #f8f8f8;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 130px 0 0 190px; 
  top: 0;
}
.container-one{
  display: grid;
  grid-template-columns: 1fr;
  
}
.container-two{
  display: grid;
  grid-template-columns: repeat(5, 210px);
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.container-three{
  display: grid;
  grid-template-columns: repeat(5, 210px);
  gap: 20px;
  justify-content: center;
  align-items: center;
  
}
.items{
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 210px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}
.items:hover{
  cursor: pointer;
  border: #333 1px solid;
}
.items div{
  margin: 0 5px;
  text-align: center;
  border-radius: 5px ;
}
.items img{
 width: 180px;
 height: 200px;
}
.image-container{
  max-width: 200px;
  max-height:230px ;
}
/* About section */

#about {
  padding: 20px;
  margin-left: 220px;
}
#about a{
  color: rgb(224, 126, 27);
  text-decoration: none;
}
.about-shofy{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.buy-on-shofy{
  margin-top: 5px;
}
footer{
  padding: 10px 0;
  background-color: #333;
  color: #f8f8f8;
  font-size: 15px;
}
.footer-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
footer a{
  text-decoration: none;
}
footer img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
form input{
  margin: 5px 0;
}
form img{
  height: 25px;
  align-self: center;
}
.form-container{
  position: relative;
}
.box{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  display: flex;
  flex-direction: column;
}
.input-box{
  width: 250px;
  border: 1px black solid;
  border-radius: 3px;
  display: flex;
  height: 27px;
  position: fixed;
  margin-top: 5px;
  background-color: #f8f8f8;
}
.button-box{
  margin-left: 270px;
}
.button-box input{
  padding: 5px 10px;
  background-color: #333;
  border: 1px white solid;
  color: white;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
}
#email{
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
}
.social a{
 margin: 0 10px;
}


/* Responsive Design @ 1280px*/
@media (max-width: 1280px) {
  main{
    height: 240vh ;
  }
  body{
    height: 260vh;
  }
  .container-two{
    display: grid;
    grid-template-columns: repeat(4, 210px);
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .container-three{
    display: grid;
    grid-template-columns: repeat(4, 210px);
    gap: 20px;
    justify-content: center;
    align-items: center;
}
/* About section */

#about {
  padding: 20px;
  margin-left: 180px;
}
}


/* Responsive Design @ 1024px*/
  @media (max-width: 1024px) {
    body{
      height: 260vh;
    }
    main{
      height: 240vh;
    }
    .header {
   font-size: 1em;
  }
  nav{
    font-size: 1em;
  }
  
  
  /* content */
  
  #content{
    display: grid;
    grid-template-rows: 50px 1fr;
    margin: 140px 10px 10px 120px; 
    top: 0;
  }
  .container-two{
    grid-template-columns: repeat(3, 160px);
    gap: 15px;
  }
  .container-three{
    display: none;
  }
  .items{
    max-width: 160px;
    border-radius: 5px;
  }
  .items div{
    font-size: .8em;
    margin: 0 5px;
    border-radius: 5px ;
  }
  .items img{
   width: 150px;
   height: 180px;
  }
  .image-container{
    max-width: 150px;
    max-height: 180px ;
  }
  
  /* About section */
  
  #about {
    padding: 10px;
    margin-left: 180px;
    font-size: .8em;
  }
  /* ADD SECTION */
  #add{
    margin-left: 0px;
  }
  /* FOOTER SECTION */
  footer{ 
    font-size: .8em;
  }
  .footer-container{
    flex-direction: row;
    justify-content: center;
  }
  footer img{
    height: 30px;
    width: 30px; 
  }
  /* FOOTER SIGN UP OPTION CONTAINING EMAIL AND SUBMIT INPUT */
  form input{
    margin: 5px 0;
  }
  form img{
    height: 20px;
  }
  .input-box{
    width: 200px;
    height: 27px;
  }
  .button-box{
    margin-left: 210px;
  }
  .button-box input{
    font-size: 1em;
    margin: 10px;
  }
  }


/* Responsive Design @ 768px*/
@media (max-width: 768px) {
  body{
    height: 260vh;
  }
  main{
    height: 240vh;
  }
  .header {
 font-size: 1em;
}
nav{
  font-size: 1em;
}

/* side bar */

.sidebar {
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  width: 120px;
  font-size: .8em;
}

/* content */

#content{
  display: grid;
  grid-template-rows: 50px 1fr;
  margin: 140px 10px 10px 120px; 
  top: 0;
}
.container-two{
  grid-template-columns: repeat(3, 160px);
  gap: 15px;
}
.container-three{
  display: none;
}
.items{
  max-width: 160px;
  border-radius: 5px;
}
.items div{
  font-size: .8em;
  margin: 0 5px;
  border-radius: 5px ;
}
.items img{
 width: 150px;
 height: 180px;
}
.image-container{
  max-width: 150px;
  max-height: 180px ;
}

/* About section */

#about {
  padding: 10px;
  margin-left: 130px;
  font-size: .8em;
}
/* ADD SECTION */
#add{
  margin-left: 0px;
}
/* FOOTER SECTION */
footer{ 
  font-size: .8em;
}
.footer-container{
  flex-direction: row;
  justify-content: center;
}
footer img{
  height: 30px;
  width: 30px; 
}
/* FOOTER SIGN UP OPTION CONTAINING EMAIL AND SUBMIT INPUT */
form input{
  margin: 5px 0;
}
form img{
  height: 20px;
}
.input-box{
  width: 200px;
  height: 27px;
}
.button-box{
  margin-left: 210px;
}
.button-box input{
  font-size: 1em;
  margin: 10px;
}
}

/* Responsive Design @ 640px*/
@media (max-width: 640px) {
  body{
    height: 140vh;
  }
  main{
    height: 120vh;
  }
  .header {
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 15px;
  height: auto;
  padding: 10px;
}
.first-row {
 display:none;
}
.second-row {
 display: grid;
 grid-template-columns: 150px 200px 150px;
 justify-content: center;
 align-items: center;
}
.logo {
  display: flex;
  flex-direction: row;
  font-size: .8em;
  margin: 0 5px;
}
.logo img {
  height: 20px;
}
.search-bar {
  display: flex;
  flex-direction: row;
  font-size: .5em;
  margin: 0 5px;
  width: 200px;
}
.search-bar input {
  width: 180px;
  padding: 3px 6px;
  border: #333 1px solid;
  background-color: white;
}
.search-bar button {
  width: 30px;
  height: 20px;
  border-radius: 10px;
}
.search-bar button :nth-child(1){
  font-size: 1em;
 align-self: center;
}
.user-menu {
width: 100px;
}
.user-menu div{
  display: none;
}
.user-menu .notification {
  padding: 2px 4px;
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 10px;
  font-size: .5em;
}
.user-menu .bell-icon {
  font-size: 1em;
}
.user-menu .profile-pic {
  height: 25px; 
}
nav ul {
  font-size: .6em;
  gap: 10px;
}
nav a {
  border-radius: 5px;
  padding: 3px 6px;
}

/* side bar */

.sidebar {
  display: none;
}

/* content */

#content{
  display: grid;
  grid-template-rows: 50px 1fr;
  margin: 80px 10px 10px 10px; 
  top: 0;
}
.container-two{
  grid-template-columns: repeat(4, 90px);
  gap: 15px;
}
.container-three{
  display: none;
}
.items{
  max-width: 100px;
  border-radius: 5px;
}
.items div{
  font-size: .4em;
  margin: 0 5px;
  border-radius: 5px ;
}
.items img{
 width: 80px;
 height: 90px;
}
.image-container{
  max-width: 80px;
  max-height: 90px ;
}

/* About section */

#about {
  padding: 10px;
  margin-left: 10px;
  font-size: .6em;
}
/* ADD SECTION */
#add{
  margin-left: 0px;
}
/* FOOTER SECTION */
footer{ 
  font-size: .6em;
}
.footer-container{
  flex-direction: column;
  justify-content: center;
}
footer img{
  height: 20px;
  width: 20px; 
}
/* FOOTER SIGN UP OPTION CONTAINING EMAIL AND SUBMIT INPUT */
form input{
  margin: 5px 0;
}
form img{
  height: 20px;
}
.input-box{
  width: 200px;
  height: 27px;
}
.button-box{
  margin-left: 210px;
}
.button-box input{
  font-size: 1em;
  margin: 10px;
}
}

/* Responsive Design @ 375px*/
@media (max-width: 375px) {
  body{
    height: 100vh;
  }
  main{
    height: 80vh;
  }
  .header {
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 10px;
  height: auto;
  padding: 10px;
}
.first-row {
 display: none;
}
.second-row {
 display: grid;
 grid-template-columns: 100px 130px 100px;
 justify-content: center;
 align-items: center;
}
.logo {
  display: flex;
  flex-direction: row;
  font-size: .5em;
  width: 100px;
  margin: 0 5px;
}
.logo img {
  height: 20px;
}
.search-bar {
  display: flex;
  flex-direction: row;
  font-size: .5em;
  margin: 0 5px;
  width: 130px;
}
.search-bar input {
  width: 100px;
  padding: 3px 6px;
  border: #333 1px solid;
  background-color: white;
}
.search-bar button {
  width: 30px;
  height: 20px;
  border-radius: 10px;
}
.search-bar button :nth-child(1){
  font-size: 1em;
 align-self: center;
}
.user-menu {
width: 100px;
}
.user-menu div{
  display: none;
}
.user-menu .notification {
  padding: 2px 4px;
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 10px;
  font-size: .5em;
}
.user-menu .bell-icon {
  font-size: 1em;
}
.user-menu .profile-pic {
  height: 25px; 
}
nav ul {
  font-size: .5em;
  gap: 10px;
}
nav a {
  border-radius: 5px;
  padding: 3px 6px;
}

/* side bar */

.sidebar {
  display: none;
}

/* content */

#content{
  display: grid;
  grid-template-rows: 50px 1fr;
  margin: 80px 10px 10px 10px; 
  top: 0;
}
.container-two{
  grid-template-columns: repeat(3, 90px);
  gap: 10px;
}
.container-three{
  display: none;
}
.items{
  max-width: 100px;
  border-radius: 5px;
}
.items div{
  font-size: .4em;
  margin: 0 5px;
  border-radius: 5px ;
}
.items img{
 width: 80px;
 height: 90px;
}
.image-container{
  max-width: 80px;
  max-height: 90px ;
}

/* About section */

#about {
  padding: 10px;
  margin-left: 10px;
  font-size: .5em;
}
/* ADD SECTION */
#add{
  margin-left: 0px;
}
/* FOOTER SECTION */
footer{ 
  font-size: .5em;
}
.footer-container{
  flex-direction: column;
  justify-content: center;
}
footer img{
  height: 20px;
  width: 20px; 
}
/* FOOTER SIGN UP OPTION CONTAINING EMAIL AND SUBMIT INPUT */
form input{
  margin: 5px 0;
}
form img{
  height: 20px;
}
.input-box{
  width: 200px;
  height: 27px;
}
.button-box{
  margin-left: 210px;
}
.button-box input{
  font-size: 1em;
  margin: 10px;
}
}